html, body{
    height: 100%;
}
.cover{
    background: #222 url(/images/cswpp.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.cover-caption{
    margin: 0px 530px 350px 0px;
    width: 100%;
}
.font{
    font-family: 'OCR A Std' , monospace;
    text-shadow: 2px 2px blue;
}
.pis{
    font: bold;
    text-shadow: 1px 1px blue;
}
