html, body{
    height: 100%;
}
.cover{
    background: #222 url(/images/cswpp.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.cover-caption{
    margin: -30px 530px 350px 0px;
    width: 100%;
}
.font{
    font-family: 'OCR A Std' , monospace;
    text-shadow: 2px 2px blue;
}
/********HOMEPAGE********/
.pis{
    font: bold;
    text-shadow: 1px 1px blue;
}
.carousel{
    
    max-width: 100%;
}
.carousel img{
    max-width: 100%;
}
.rv{
    margin: 10px 350px 0px 350px;
    max-width: 100%;
}
.pfu{
    text-align: center;
    color: rgba(0, 0, 0, 5);
    
}
.fu{
    background: #f8f9fa;
}

