html, body{
    height: 100%;
    background: #d9edfc;
   
}
.font{
    font-family: 'Girassol', cursive;
}
/********HOMEPAGE********/
.pis{
    font: bold;
    text-shadow: 1px 1px blue;
}
.carousel{
    
    max-width: 100%;
}
.carousel img{
    max-width: 100%;
}
/*.rv{
    margin: 10px 350px 0px 350px;
    max-width: 100%;
}*/
.paragraphFooter{
    text-align: center;
    color: rgba(0, 0, 0, 5);   
}
.footer{
    background: #7ea8d1;
   display:block;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;
   line-height: 60px;

   
}
/*.pgs{
    max-width: 100%;
    max-height: 100%;
    font-size: medium;
    background: #0e82c9 ;
    color: white;
    border: 5px solid #0e82c9;
    border-radius: 3px;
}*/
/*.m1{

    max-width: 100%;
    
}*/
.crs{

    padding: 0;
    max-width: 100%;
    
}
/*.cc{
   width: 100%;
}*/
.carsell, .cartech, .carreg {
    max-width: 100%;
    max-height: 100%;
}
.carParagraph{
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.workingHours{
    background: #007bff;
    margin-top: 60px;
    }
    .business-hours {
    background: #222; 
    padding: 40px 14px;
    margin-top: -15px;
    position: relative;
    }
.business-hours .title {
    font-size: 20px;
    color: #BBB;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid #007BFF; 
    }
.business-hours li {
    color: #888;
    line-height: 30px;
    border-bottom: 1px solid #333; 
    }
.business-hours li:last-child {
    border-bottom: none; 
    }
.business-hours .opening-hours li.today {
    color: #007bff; 
}
/******MAPS********/
/*.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 600px;
}*/
.gmap_canvas {
    overflow: hidden;
    background: none ;
    height: 400px;
    width: 600px;
    padding: auto;
}
/********CONTACT******/
input, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
/*.bot{
 text-align: center;
}*/
.header{
background: url(/images/ccbg.jpg) center center no-repeat;
text-align: center;
font-weight: 900;
color: white;
height: 200px;
}
.contactContainer { 
    max-width: 400px;
    min-width: 400px;
    background-color: white;
    border: 1px solid lighten(grey, 1%); 
    border-bottom: 3px solid grey;
    text-align: center;
    padding: auto;
  }
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .imgGallery {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  

